!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    // Title and other stuffs
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    // Stylesheets
    link(href='style/bootstrap.css', rel='stylesheet')
    // Font awesome icon
    link(rel='stylesheet', href='style/font-awesome.css')
    // jQuery UI
    link(rel='stylesheet', href='style/jquery-ui.css')
    // Calendar
    link(rel='stylesheet', href='style/fullcalendar.css')
    // prettyPhoto
    link(rel='stylesheet', href='style/prettyPhoto.css')
    // Star rating
    link(rel='stylesheet', href='style/rateit.css')
    // Date picker
    link(rel='stylesheet', href='style/bootstrap-datetimepicker.min.css')
    // jQuery Gritter
    link(rel='stylesheet', href='style/jquery.gritter.css')
    // CLEditor
    link(rel='stylesheet', href='style/jquery.cleditor.css')
    // Bootstrap toggle
    link(rel='stylesheet', href='style/bootstrap-toggle-buttons.css')
    // Main stylesheet
    link(href='style/style.css', rel='stylesheet')
    // Widgets stylesheet
    link(href='style/widgets.css', rel='stylesheet')
    // Responsive style (from Bootstrap)
    link(href='style/bootstrap-responsive.css', rel='stylesheet')
    // HTML5 Support for IE
    //if lt IE 9
      script(src='js/html5shim.js')
    // Favicon
    link(rel='shortcut icon', href='img/favicon/favicon.png')
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          // Menu button for smallar screens
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Site name for smallar screens
          a.brand(href='index-2.html')
            | Node
            span.bold CMS
          // Navigation starts
          .nav-collapse.collapse
            // Links
            ul.nav.pull-right
              li.dropdown.pull-right
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.icon-about
                  | Home
            ul.nav.pull-right
              li.dropdown.pull-right
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.icon-about
                  | About
            ul.nav.pull-right
              li.dropdown.pull-right
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.icon-about
                  | Sample Page
    // Main content starts
    .content
      // Sidebar
      // Sidebar ends
      // Main bar
      .mainbar
        .pagination
          ul
            li
              a(href='#') Prev
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') Next
         each val, key in udata
          #post
            .widget.wgreen
              // Widget title
              .widget-head
                .pull-left
                  a(href="#{val.post_title}") #{val.post_title}
                .widget-icons.pull-right
                  a.wminimize(href='#')
                    i.icon-chevron-down
                  a.wclose(href='#')
                    i.icon-remove
                .clearfix
              .widget-content
                // Widget content
                .padd
                  ul.postcontent
                    // Chat by us. Use the class "by-me".
                    li.by-me
                      // Use the class "pull-left" in avatar
                      .avatar.pull-left
                        img(src='img/user.jpg', alt='')
                      .chat-content
                        // In meta area, first include "name" and then "time"
                        .chat-meta
                          | #{val.post_author.name}
                          span.pull-right #{val.post_date}
                        #post-content #{val.post_content}
                        .clearfix
        // end of post div
        // Mainbar ends
        .clearfix
      // Content ends
      // Scroll to top
      span.totop
        a(href='#')
          i.icon-chevron-up
      // JS
      script(src='js/jquery.js')
      // jQuery
      script(src='js/bootstrap.js')
      // Bootstrap
      script(src='js/jquery-ui-1.10.2.custom.min.js')
      // jQuery UI
      script(src='js/fullcalendar.min.js')
      // Full Google Calendar - Calendar
      script(src='js/jquery.rateit.min.js')
      // RateIt - Star rating
      script(src='js/jquery.prettyPhoto.js')
      // prettyPhoto
      // jQuery Flot
      script(src='js/excanvas.min.js')
      script(src='js/jquery.flot.js')
      script(src='js/jquery.flot.resize.js')
      script(src='js/jquery.flot.pie.js')
      script(src='js/jquery.flot.stack.js')
      script(src='js/jquery.gritter.min.js')
      // jQuery Gritter
      script(src='js/sparklines.js')
      // Sparklines
      script(src='js/jquery.cleditor.min.js')
      // CLEditor
      script(src='js/bootstrap-datetimepicker.min.js')
      // Date picker
      script(src='js/jquery.toggle.buttons.js')
      // Bootstrap Toggle
      script(src='js/filter.js')
      // Filter for support page
      script(src='js/custom.js')
      // Custom codes
      script(src='js/charts.js')
      // Custom chart codes
